# === DATABASE ===
POSTGRES_DB=vseponyatno
POSTGRES_USER=vse_user
POSTGRES_PASSWORD=XXXXXXX

# === DIRECTUS ===
DIRECTUS_ADMIN_EMAIL=crimease@yandex.ru
DIRECTUS_ADMIN_PASSWORD=XXXXXXX

# === WORDPRESS DB (MariaDB) ===
WP_DB_HOST=mariadb
WP_DB_NAME=wp_vseponyatno
WP_DB_USER=wp_user
WP_DB_PASSWORD=XXXXXXX

# === TIMEZONE ===
TZ=Europe/Riga

# === PUBLIC URLS ===
DIRECTUS_PUBLIC_URL=https://directus.xn--b1awacccnl0jqa.xn--p1ai
PUBLIC_URL=https://directus.xn--b1awacccnl0jqa.xn--p1ai

# === DIRECTUS SECURITY ===
DIRECTUS_KEY=XXXXXXX
DIRECTUS_SECRET=XXXXXXX

DIRECTUS_API_TOKEN=XXXXXXX
DIRECTUS_BASE_URL=https://directus.xn--b1awacccnl0jqa.xn--p1ai
VP_SERVICE_USER_TOKEN=XXXXXXX

DIRECTUS_URL=http://vse_directus:8055
VP_DIRECTUS_URL=http://vse_directus:8055
VP_DIRECTUS_TOKEN=XXXXXXX
VP_SERVICE_ADMIN_TOKEN=XXXXXXX


# =========================
# Directus Role IDs (UUID)
# =========================

# Super / Ops
VP_DX_ROLE_ADMIN="05a3e980-747f-4cd5-9b22-156a11bd4e57"              # VP Admin
VP_DX_ROLE_MODERATOR="78701cda-fe14-4c00-b389-4bec1ba38835"          # VP Moderator
VP_DX_ROLE_ONBOARDING_ADMIN="99f6d7eb-3468-4dab-a606-a27e04b32ce7"    # VP Onboarding Admin

# Business roles
VP_DX_ROLE_PARTNER_MANAGER="26f56b21-9446-4bf1-8129-cf1c830c11f4"     # Partner Manager
VP_DX_ROLE_LOCATION_MANAGER="d5cb47af-ac02-4453-947c-8d46deffa799"    # Location Manager

# Cabinets / specialists
VP_DX_ROLE_DENTIST="5d9180b4-0e5a-4aa9-8931-79dc6696d33a"             # Dentist
VP_DX_ROLE_AUTO_SPECIALIST="c8a4c6cd-7941-43cc-a570-ec9e62b215ae"     # Auto Specialist

# System / public API
VP_DX_ROLE_API_PUBLIC="893a1b06-02e1-4327-a1a9-fce9c380863b"          # api_public

# Optional: directus built-in Administrator role (обычно не используем в нашей логике)
VP_DX_ROLE_DIRECTUS_ADMIN="af11e2a1-0dc9-4289-ac48-df84824a8565"      # Administrator

# Коллекция заявок
VP_ONBOARDING_COLLECTION=vp_onboarding_requests





